body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #191919;
    color: white;
}

#board {
    width: 500px;
    margin: 25px auto;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}
